<!DOCTYPE html>
<html>
<head>
	<title>Checkin Books</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse" style="background-color:rgb(26, 46, 90); ">
	<div class="container-fluid">
	    <div class="navbar-header">
			<a style="color:#33FFF6;font-size: 25px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" class="navbar-brand" href="../">Library Management System</a>
		</div>
	    <ul class="nav navbar-nav">
	      <li><a style="font-family: Comic Sans MS!important;font-size: medium" href="../booksearch">Book Search</a></li>
	      <li><a style="font-family: Comic Sans MS!important;font-size: medium" href="../checkinbooks">Return</a></li>
	      <li><a style="font-family: Comic Sans MS!important;font-size: medium" href="../payfine">Pay Fine</a></li>
	      <li><a style="font-family: Comic Sans MS!important;font-size: medium" href="../addborrowers">Add Borrowers</a></li>
	    </ul>
	  </div>
	</nav>
	<section align="center">
		<h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:crimson">Search for Books to Return</h1>

		<form action="{% url 'checkinbooks:index' %}" method="post" class="form-inline">
			<div class="form-group">	
				{% csrf_token %}
				<input type="text" name="checkin" class="form-control" placeholder="Enter Book Name"/>
				<input type="submit" style="font-family: Comic Sans MS !important" class="btn btn-success" name="searchbtn">
			</div>
		</form>

		{% if books %}	
			<div class="container">
				<h3>Heres what we found</h3>
				<table class="table table-striped">
				<tr>
					<th><center>ISBN</center></th>
					<th><center>Title</center></th>
					<th><center>Author</center></th>
					<th><center>Card Number</center></th>
					<th><center>Borrower Name</center></th>
					<th><center>SSN</center></th>
					<th><center>Return</center></th>
				</tr>
				{% for book in books %}
				<tr>
					<td>{{ book.0 }}</td>
					<td>{{ book.1 }}</td>
					<td>{{ book.2 }}</td>
					<td>{{ book.3 }}</td>
					<td>{{ book.4 }}</td>
					<td>{{ book.5 }}</td>
					<td>
						<form action="{% url 'checkinbooks:index' %}" method="POST" id="card_no_form">
							{% csrf_token %}
							<input type="hidden" name="isbnrtbk" value = {{book.0}} />
							<input type="hidden" name="loanid" value = {{book.6}} />
							<input type="submit" name="checkinbtn" class="btn" value="Return" />
						</form>
					</td>
				</tr>
				{% endfor %}
				</table>
			</div>
		{% else %}
			{% if get == False %}
				<h3>No Books Available</h3>
			{% endif %}
		{% endif %}

		<div id="loanInfo">
			{% if message %}
				{{ message }}
			{% endif %}
		</div>
	</section>
</body>
</html>